/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Larger HD Displays 1280 (devices and browsers) */
	@media only screen and (min-width: 1280px) {
		.login-bkg {
		  background-size: center;
		  height: 75rem;
		}

		p {
		  font-size: 1.1rem;
		  line-height: 1.4rem;
		}

	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) {
		.content__demo-style {
		  width: 60%;
		  height: 40rem;
		}

		.content__demo-area {
		  width: 90%;
		  height: 87%;
		  margin: 5% auto;
		  border-radius: .4rem;
		  border: 2px solid rgba(250, 250, 250, 0.1);
		}

		.login-bkg {
		  background-size: center;
		  height: 65rem;
		}

		p {
		  font-size: 1.1rem;
		  line-height: 1.4rem;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.content__demo-style {
		  width: 70%;
		  height: 36rem;
		}

		.content__demo-area {
		  width: 90%;
		  height: 90%;
		  margin: 5% auto;
		  border-radius: .4rem;
		  border: 2px solid rgba(250, 250, 250, 0.1);
		}

		.main-content__style {
		  width: 40%;
		}
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.tutorial__header, .login__header {
		  padding: 3rem 0;
		  font-size: 1.5rem;
		}

		.tutorial__header-title, .login__header-title {
		  font-size: 2.5rem;
		  padding-top: 2rem;
		  padding-bottom: 1rem;
		}

		.login__header-title {
		  padding-top: 7rem;
		}

		.tutorial__header-subtitle, .login__header-subtitle {
		  font-size: 1.4rem;
		  padding-bottom: 0.5rem;
		}

		p {
		  padding-bottom: 1.5rem;
		  font-size: 1rem;
		  color: #FFF;
		  line-height: 1.3rem;
		}

		.tutorial__para-width {
		  width: 75%;
		}

		.content__demo-area {
		  height: 30rem;
		}

		.login-bkg {
		  background-size: center;
		  height: 60rem;
		}

		.main-content__style {
		  width: 50%;
		}

		.tutorial-bkg {
		  height: 16rem;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.tutorial__header, .login__header {
		  padding: 3rem 0;
		  font-size: 1.5rem;
		}

		.tutorial__header-title, .login__header-title {
		  font-size: 2.5rem;
		  padding-top: 2rem;
		  padding-bottom: 1rem;
		}

		.login__header-title {
		  line-height: 2.5rem;
		}

		.tutorial__header-subtitle, .login__header-subtitle {
		  font-size: 1.5rem;
		  padding-bottom: 0.5rem;
		}

		.login__header-subtitle {
		  font-size: 1.2rem;
		  font-weight: normal;
		}

		p {
		  font-size: .9rem;
		  line-height: 1.1rem;
		}

		.tutorial__para-width {
		  width: 85%;
		}

		.login-bkg {
		  height: 17rem;
		}

		.info-bar p {
			width: 85%;
			margin: 0 auto;
		}

		.content__demo-area {
		  height: 20rem;
		}

		.login-bkg {
		  background-size: center;
		  height: 40rem;
		  width: 100%;
		}

		.main-content__style {
		  width: 80%;
		}

		.tutorial-bkg {
		  height: 18rem;
		}
	}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ots3fl');
	src:url('../fonts/icomoon.eot?#iefixots3fl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ots3fl') format('woff'),
		url('../fonts/icomoon.ttf?ots3fl') format('truetype'),
		url('../fonts/icomoon.svg?ots3fl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e601";
}
.icon-quote:before {
	content: "\e602";
}
.icon-flow-cascade:before {
	content: "\e603";
}
