.tutorial-bkg {
  background: url(../img/DeathtoStock_Wired4.jpg) center no-repeat;
  background-size: cover;
  height: 15rem;
  width: 100%;
}

.user-card__link {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  color: #FFF;
  text-align: right;
  margin: 1rem 2rem 0 0;
}

.tutorial__header {
  text-align: center;
  padding: 5rem 0;
  font-size: 2rem;
}

.tutorial__header-title {
  font-family: 'Ovo', serif;
  font-size: 4rem;
  font-weight: bolder;
  color: #FFF;
  padding-top: 3rem;
  padding-bottom: 1.7rem;
}

.tutorial__header-subtitle {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  color: #FFF;
  padding-bottom: 1rem;
}

.content__demo-style {
  background: rgb(250, 250, 250);
  background: rgba(250, 250, 250, 0.3);
  width: 80%;
  margin: 2rem auto;
  border-radius: .4rem;
  border: 1px solid rgba(250, 250, 250, 0.1);
}

.content__demo-area {
  width: 90%;
  height: 40rem;
  margin: 5% auto;
  border-radius: .4rem;
  border: 2px solid rgba(250, 250, 250, 0.1);
}

.tutorial__para-width {
  width: 65%;
  margin: 0 auto;
}

.info-bar {
  background: #2197B7;
  text-align: center;
  border-top: 1px solid #3A484C;
  border-bottom: 1px solid #03A4D3;
}

.info-bar__title {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  color: #FFF;
  padding-bottom: .3rem;
  padding-top: 1rem;
  font-weight: normal;
}

.tutorial-pattern {
  background: url(../img/binding_dark.png) top left repeat;
}
