<div>
  <div data-ng-controller="bstController">
    <p>Enter a number to the tree</p>
    <input type="text"></input>
    <button data-ng-click="insert(data)">Add it!</button>
    <button data-ng-click="inOrder(node)">Sort in Order</button>
    <button data-ng-click="preOrder(node)">Sort Pre-Order</button>
    <button data-ng-click="postOrder(node">Sort Post-Order</button>
    <button data-ng-click="getMin()">Find minimum value node</button>
    <button data-ng-click="getMax()">Find maximum value node</button>
    <input type="text"></input>
    <button data-ng-click="find(data)">Find node value</button>
    <button data-ng-click="remove(data)">Remove a node</button>
  </div>

  <div id="svgArea" data-ng-controller="svgController">


  </div>
</div>
