  <section class="login-bkg">
    <header class="login__header">
      <h1 class="login__header-title">Want to learn JavaScript?</h1>
      <h2 class="login__header-subtitle">Sign up for free and start today.</h2>
    </header>
    <main class="main-content__style">
      <form class="form__group" role="form">
        <fieldset>
          <legend class="form__heading">LOGIN</legend>
            <input class="form__input" required data-ng-model="username" placeholder="Username" name="userame" autofocus>
            <input class="form__input" required data-ng-model="password" placeholder="Password" name="password">
            <input class="form__input--button" data-ng-click="advanceToSkills()" name="login" value="Log In">
        </fieldset>
      </form>
    </main>
  </section>
