<h2>Welcome {{username}}</h2>
</br>
<h3>Here is a binary tree tutorial:</h3>
<div>
<h2>Instructions</h2>
 <p>Click in the open space to add a node, drag from one node to another to add an edge.</p>
    <p>Ctrl-drag a node to move the graph layout.</p>
    <p>Click a node or an edge to select it.</p>
    <p>When a node is selected: R toggles reflexivity, Delete removes the node.</p>
    <p>When an edge is selected: L(eft), R(ight), B(oth) change direction, Delete removes the edge.</p>
</div>
<div id="binary">
  <script src="dthree.js"></script>
</div>
