  <section class="tutorial-pattern">
    <header class="tutorial__header tutorial-bkg">
      <section class="logo-style"><section class="icon-flow-cascade"></section></section>
      <a class="user-card__link" href="#"><span class="icon-user"> USERNAME`{{username}}</span></a>
      <h1 class="tutorial__header-title">The Binary Tree</h1>
      <h2 class="tutorial__header-subtitle">Try the demo below.</h2>
    </header>
    <main>
      <section class="content__divider">
      </section>
      <article class="content__demo-style">
        <section class="content__demo-area">
          <event-tutorial></event-tutorial>
        </section>
      </article>
    </main>
    <footer class="footer__style">
      <section class="instructions__container">
        <section class="instructions__float">
          <h1 class="instructions__title">A Simple Overview.</h1>
          <p class="instructions__info">A binary tree is made of nodes, where each node contains a "left" pointer, a "right" pointer, and a data element. The "root" pointer points to the topmost node in the tree. The left and right pointers recursively point to smaller "subtrees" on either side. A null pointer represents a binary tree with no elements -- the empty tree. The formal recursive definition is: a binary tree is either empty (represented by a null pointer), or is made of a single node, where the left and right pointers (recursive definition ahead) each point to a binary tree.<cite> - Standford Edu</cite></p>
        </section>
        <section class="instructions__float">
          <h1 class="instructions__title">Instructions</h1>
          <ul class="instructions__info">
            <li>Click in the open space to add a node, drag from one node to another to add an edge<em> (arrow)</em>.</li>
            <li>Ctrl-click a node so that you can turn on the function to adjust the nodes in the layout<em> (on a mac this pops up a menu, close it)</em>.</li>
            <li>Ctrl-double-click to turn that feature off <em>(also opens the menu on mac)</em>.</li>
            <li>Click a node or an edge to select it.</li>
            <li>When a node is selected: R toggles reflexivity, Delete removes the node.</li>
            <li>When an edge is selected: L(eft), R(ight), B(oth) change direction, Delete removes the edge.</li>
          </ul>
        </section>
      </section>
      <br class="clear"/>
    </footer>
  </section>
